<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--Настройки для хранения лога-->
    <add key="LogFilePath" value="C:\Temp"/>
    <!--Настройки для получения данных-->
    <add key="DB_InitialCatalog" value="ddd"/>
    <add key="DB_dataSource" value="localhost"/>
    <add key="DB_login" value="sa"/>
    <add key="DB_password" value="sa"/>
    <!--Настройки для записи данных-->
    <add key="SqliteFilePath" value="e:\!WORK\Freelance\ДДС_РоллКафе\source\Db.sqlite"/>
    <!--Настройки для отправки данных-->
    <add key="KartaMobi_btoken" value="***"/>
    <add key="KartaMobi_login" value="***"/>
    <add key="KartaMobi_password" value="***"/>
  </appSettings>
</configuration>
