<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Give product a unique ID per platform -->
  <?if $(var.Platform)=x64 ?>
    <?define ProductCode = "{A7BFBB23-1628-4615-822F-29F1730EC791}" ?>
  <?else?>
    <?define ProductCode = "{3FA37FB8-85CE-4EF4-8429-1B9D52E7B958}" ?>
  <?endif?>

  <?if $(var.Configuration) = Debug ?>
    <?define ConfigurationType = "Debug" ?>
  <?else?>
    <?define ConfigurationType = "Release" ?>
  <?endif ?>

  <!-- Fixed upgrade Id -->
  <?define UpgradeCode = "{66FCC1EE-EF32-4B12-AF35-797C36424446}"?>

  <?define BuildVersion = 1.0.0.1?>
  
  <!-- Define main product -->
	<Product Id="$(var.ProductCode)"
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)"
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)"
           UpgradeCode="$(var.UpgradeCode)">
		
    <!-- Provide package details -->
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"
              />

    <!-- Downgrade error message -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
    <!-- Include .cab file into .msi file -->
		<MediaTemplate 
      EmbedCab="yes" />

    <!-- Define main app icon -->
    <Icon Id="icon.ico" SourceFile="$(var.KartaMobiExporter.ProjectDir)\Resources\FreeIconExample.ico"/>

    <!-- Use the icon.ico icon for this installer (show up in Add/Remove programs) -->
    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    
    <!-- Help/Support website (shows in the Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT">http://arcanite.ru/</Property>

    <!--Create a basic UI the installer -->
    <UIRef Id="WixUI_Minimal"/>
    
    <!-- Change the installer UI background images and License -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>
    <!--<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>-->
	  <!--<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>-->

    <!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" Title="KartaMobiExporter" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>



</Wix>
